**TXT**

In [10]:
import numpy as np
import pandas as pd
import os

In [11]:
os.chdir('/home/erik/Documentos/cursos/Data-Science/Data')
os.getcwdb()

b'/home/erik/Documentos/cursos/Data-Science/Data'

In [12]:
df_txt = pd.read_csv("housing.data.txt",
                     header=None,
                    sep="\s+")

AttributeError: module 'numpy' has no attribute 'read_csv'

In [ ]:
df_txt.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
etiquetas=['CRIM', 'ZN', 'INDUS', 'CHAS','NOX','RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [ ]:
df_txt.columns =etiquetas

In [ ]:
df_txt.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [ ]:
df_txt.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

**Conexi√≥n a motores de bases de datos**

In [ ]:
import pandas.io.sql
import pyodbc # conexi√≥n a SQL Server por odbc
import psycopg2 #conexi√≥n a PostgreSQL

In [ ]:
#Rol: DBA (Administrador de Bases de Datos)
#nos proporciona las credenciales para conectar a la base de datos y realizar consultas


#Server: 69.164.192.245
#Usuario: sdc_read
#Contrase√±a: #sDc_Read#21
#Database: alumno
#tabla: anexo6

**SQL Server**

In [ ]:
import pandas.io.sql
import pyodbc # conexi√≥n a SQL Server por odbc
import psycopg2 #conexi√≥n a PostgreSQL

In [ ]:
#Rol: DBA (Administrador de Bases de Datos)
#nos proporciona las credenciales para conectar a la base de datos y realizar consultas


#Server: 69.164.192.245
#Usuario: sdc_read
#Contrase√±a: #sDc_Read#21
#Database: alumno

In [ ]:
conexion = pyodbc.connect("DRIVER={SQL Server}; SERVER=69.164.192.245; DATABASE=alumno; UID=sdc_read; PWD=#sDc_Read#21")

In [ ]:
cursor=conexion.cursor()
#cursor() ejecutar c√≥digo SQL

In [ ]:
cursor.execute("SELECT * FROM student.anexo6")

In [ ]:
rows=cursor.fetchall()

In [ ]:
#fetchall(): funci√≥n permite consultar todas las filas de la tabla
#fetchmany(): funci√≥n que permite consultar determinadas filas de la tabla

In [ ]:
et_columns = ["ncl","fnaci","genero","est_civil","csocio","part_reg","tid","nid","tpers","domici","rel_lab","cal","calint","cage",
              "mon","ccr","tcr","tspr","fot","morg","tea","skcr","cuenta","kvi","kre","krf","kve","kju","kco","dak",
              "gar_pref","gar_auto","prv_req","prv_cons","kcas","sin","sis","sid","tpr","ncpr","ncpa","pcuo","pgra","fven_org","fven_act"]

In [ ]:
df_sql_server = pd.DataFrame(np.array(rows),
                            columns=et_columns)

In [ ]:
df_sql_server.head()

,ncl,fnaci,genero,est_civil,csocio,part_reg,tid,nid,tpers,domici,...,sin,sis,sid,tpr,ncpr,ncpa,pcuo,pgra,fven_org,fven_act
0,abc1,30914,F,S,AP1255172XTH,None,DNI,2.68551e+08,1,Calle MZ. F LOTE 14 PARQUE RESIDENCIAL MONTEVE...,...,None,420.56,None,PCM-PRESTAMO COMPRA VEHICULO,42,1,30,None,45019,45019
1,abc2,33763,M,S,AP1000769XTH,None,DNI,7.05556e+08,1,Calle NICARAGUA Mz. H1 Lt. 3 Referencia AH L...,...,6.84,None,None,PEX-PRESTAMO EXTRAORDINARIO,6,3,30,None,43902,43902
2,abc3,25944,M,S,AP1255369XTH,None,DNI,4.62281e+07,1,Calle CA. J F 38 URB. PACHACAMAC BARRIO 1 SECT...,...,167.3,None,None,PCC-PRESTAMO COMPRA DE CARTERA,55,2,30,None,45436,45436
3,abc4,24602,M,S,AP1254225XTH,None,DNI,2.5201e+08,1,Calle CA HERMANOS AYAR 405 C2-10 URB LOS CHANC...,...,3799.7,None,None,PCM-PRESTAMO COMPRA VEHICULO,46,None,30,171,45201,45201
4,abc5,34059,M,S,AP1254240XTH,None,DNI,8.72776e+08,1,Calle SALAVERRY 375 CASA A Nro.. Referencia...,...,None,None,None,PCM-PRESTAMO COMPRA VEHICULO,45,None,30,75,45201,45201

In [ ]:
df_sql_server.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ncl        16185 non-null  object
 1   fnaci      16076 non-null  object
 2   genero     16185 non-null  object
 3   est_civil  16185 non-null  object
 4   csocio     16185 non-null  object
 5   part_reg   0 non-null      object
 6   tid        16185 non-null  object
 7   nid        16183 non-null  object
 8   tpers      16185 non-null  object
 9   domici     16185 non-null  object
 10  rel_lab    16185 non-null  object
 11  cal        16185 non-null  object
 12  calint     16185 non-null  object
 13  cage       16185 non-null  object
 14  mon        16185 non-null  object
 15  ccr        16165 non-null  object
 16  tcr        16185 non-null  object
 17  tspr       0 non-null      object
 18  fot        16185 non-null  object
 19  morg       16176 non-null  object
 20  tea        16118 non-null  object
 21  skcr       16026 non-null  object
 22  cuenta     16185 non-null  object
 23  kvi        15466 non-null  object
 24  kre        0 non-null      object
 25  krf        0 non-null      object
 26  kve        0 non-null      object
 27  kju        0 non-null      object
 28  kco        0 non-null      object
 29  dak        6877 non-null   object
 30  gar_pref   0 non-null      object
 31  gar_auto   0 non-null      object
 32  prv_req    16063 non-null  object
 33  prv_cons   16063 non-null  object
 34  kcas       0 non-null      object
 35  sin        10953 non-null  object
 36  sis        3685 non-null   object
 37  sid        0 non-null      object
 38  tpr        16185 non-null  object
 39  ncpr       15831 non-null  object
 40  ncpa       14130 non-null  object
 41  pcuo       15984 non-null  object
 42  pgra       8046 non-null   object
 43  fven_org   16185 non-null  object
 44  fven_act   16185 non-null  object
dtypes: object(45)
memory usage: 5.6+ MB

**PostgreSQL**

In [ ]:
#Permisos y/o credenciales:
#Nombre del usuario: postgres
#Contrase√±a del usuario: sdc2019PERU
#IP p√∫blico: 69.164.192.245
#Nombre de base de datos: profesor
#Nombre de la tabla: bupa

#Diccionario de variables:

In [ ]:
conn = psycopg2.connect("dbname=profesor user=postgres password=sdc2019PERU host=69.164.192.245")

In [ ]:
cursor=conn.cursor()

In [ ]:
cursor.execute("SELECT * FROM departamento")

In [ ]:
data_select = cursor.fetchmany(10)

In [ ]:
data_select

[('Alquilo Exclusivo Departamento en Jes√∫s Maria', '74 m¬≤', 'S/ 2,100'),
 ('Alquilo Lindo Departamento Sin Amoblar de 65 m¬≤ en Miraflores',
  '65 m¬≤',
  'S/ 2,437'),
 ('Lindo y Moderno Dpto Amoblado y Equipado', '40 m¬≤', 'S/ 2,300'),
 ('Excelente Departamento en Chacarilla', '100 m¬≤', 'S/ 2,900'),
 ('Excelente Dpto en Alquiler', '90 m¬≤', 'S/ 2,450'),
 ('Alquilo Departamento Full Amoblado de 85 m¬≤ en Miraflores',
  '85 m¬≤',
  'S/ 3,750'),
 ('Alquilo Bello Departamento de Estreno/silvia/', '60 m¬≤', 'S/ 2,100'),
 ('Dpto. con Precio de Ocasi√≥n en Club Golf Los Incas, Surco',
  '205 m¬≤',
  'S/ 4,800'),
 ('Excelente Departamento en Alquiler Cerca a La Plaza Butters',
  '70 m¬≤',
  'S/ 1,800'),
 ('Alquiler de Departamento D√∫plex Vista Top en San Isidro 9 5 4 7 7 7 1 1 5',
  '155 m¬≤',
  'S/ 4,680')]

In [ ]:
data_m2 = cursor.fetchall()

In [ ]:
df_postgreSQL = pd.DataFrame(data_m2, columns= ["nombres","metros2", "precio"])

In [ ]:
df_postgreSQL.head()

                                             nombres metros2     precio
0  Alquiler de Departamento en Av Las Artes Norte...  100 m¬≤   S/ 2,600
1                         Dpto a 2 Cdras Pentagonito  198 m¬≤   S/ 4,440
2   Exclusivo Departamento en Las Magnolias Barranco  105 m¬≤  USD 1,000
3  Alquilo Dppto. Amoblado. Cochera. 2 Dorm. Mira...   95 m¬≤   S/ 3,290
4         Flat en Condominio Shamrock de Monterrico.  144 m¬≤   S/ 4,405

In [ ]:
len(df_postgreSQL)

62

**Web Scraping**

In [ ]:
#ficheros contenidos en una web
#elementos de una web
#que requieren interacci√≥n
#conexi√≥n mediante API

**Conexi√≥n mediante API**

**Twitter**

In [ ]:
pip install tweepy

In [ ]:
import tweepy
from tweepy import OAuthHandler

In [ ]:
consumer_key = 'eMcnfrsrAgghHJCCBdP8QStYj'
consumer_secret = 'M2FwH7ARB8MK6hq0n8HTrVErWanAsTST0nkmw11VfvuMjn8fel'
access_token = '587863980-j6aJNJaXotnCuYF5rBZ8myUYF8kCet61E5sgWWHC'
access_token_secret = 'TbSQ6OVufSk0LH6iiRpSAJBwffggEOR2Ah1ToXRQghRIV'

In [ ]:
oauth = tweepy.OAuthHandler(consumer_key,consumer_secret)
oauth.set_access_token(access_token,access_token_secret)

In [ ]:
api = tweepy.API(oauth,
                parser=tweepy.parsers.JSONParser()) #formato JSON

In [ ]:
tweets = api.user_timeline(screen_name="G_Lapadula",
                          count=150,
                          include_rts=False)

In [ ]:
len(tweets)

149

In [ ]:
type(tweets)

list

In [ ]:
type(tweets[0])

dict

In [ ]:
tweets[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [ ]:
for keys_tweet in tweets[0].keys():
    print(keys_tweet)

created_at
id
id_str
text
truncated
entities
source
in_reply_to_status_id
in_reply_to_status_id_str
in_reply_to_user_id
in_reply_to_user_id_str
in_reply_to_screen_name
user
geo
coordinates
place
contributors
is_quote_status
retweet_count
favorite_count
favorited
retweeted
possibly_sensitive
lang

In [ ]:
tweets[4]["text"]

'¬° CLASIFICAMOS! üí™üèªüáµüá™\n¬° Sigamos as√¨!\n@SeleccionPeru \n#CopaAmerica \n#unidossomosm√°sfuertes \n#ArribaPer√∫ https://t.co/4CNu1qrzfL'

In [ ]:
df_GLapadula=pd.DataFrame({"contenido":[t["text"] for t in tweets],
             "favorite":[t["favorite_count"] for t in tweets],
             "Fecha de publicaci√≥n":[t["created_at"] for t in tweets]})

In [ ]:
df_GLapadula.head()

,contenido,favorite,Fecha de publicaci√≥n
0,"Mi madre sali√≥ del Per√∫ muy joven, pero el Per...",54608,Wed Jul 28 12:04:00 +0000 2021
1,üáµüá™ https://t.co/ZFK25W57nM,24670,Thu Jul 15 19:04:02 +0000 2021
2,Volveremos m√°s fuertes. \nSiempre unidos y sie...,26897,Sat Jul 10 08:05:16 +0000 2021
3,Me siento muy orgulloso de ser parte de esta s...,45352,Tue Jul 06 13:10:12 +0000 2021
4,¬° CLASIFICAMOS! üí™üèªüáµüá™\n¬° Sigamos as√¨!\n@Selecci...,17534,Mon Jun 28 12:22:24 +0000 2021

**Facebook**

In [ ]:
pip install facebook-sdk

In [ ]:
import facebook
import pandas as pd

In [ ]:
token_dec = 'EAAHr6rMZAZC3gBAOPpLHCJNOQHoa4DwVQVscQ804c1k4XlbC9axHiP5AXKDW83fLQK1YX44ttQX3BxmsOV15o19kXqSDsWm7jkIZBZC4b29CvZBxRY4QQim9Roydgh69ARWQY6gwZAKXDsOGRYgvBsWhZAn1ijcpSrPtPays2jWJn1ZB7J7gofNXZCj08ODpiB6Ir56Jpe8cJKH9EG93iOwSJ'
version_api = '3.1' 
page_id = '522721131191656'
page_name = 'SDC Learning'
graph=facebook.GraphAPI(access_token=token_dec, 
                        version=version_api)


posts = graph.get_connections(page_id,
                              'posts',
                              limit='99',
                              since='2019-07-01',
                              until='2019-08-15',
                              fields='message,caption,story,created_time,id.as(post_id),description,type,icon,link,permalink_url,picture,full_picture,shares,source,reactions.type(LIKE).limit(0).summary(total_count).as(like),reactions.type(WOW).limit(0).summary(total_count).as(wow),reactions.type(SAD).limit(0).summary(total_count).as(sad),reactions.type(ANGRY).limit(0).summary(total_count).as(angry),reactions.type(LOVE).limit(0).summary(total_count).as(love),reactions.type(HAHA).limit(0).summary(total_count).as(haha),comments.limit(0).summary(total_count)')
posts = posts['data']
post_bench=pd.DataFrame(posts, 
                        columns=['message','created_time','post_id','type','icon','link','permalink_url','picture','full_picture','shares','like','wow','sad','angry','love','haha','comments'])

**Web Scraping**

In [ ]:
import requests
import pandas as pd
import bs4
from bs4 import BeautifulSoup

In [ ]:
pip install bs4